$primary: #6610f2;
$primary-80: #8540f5;
$primary-60: #a370f7;
$primary-40: #c29ffa;
$primary-20: #e0cffc;
$white: rgb(255, 255, 255);
$white-20: #cccccc;
$dark-background: #444444;
$divider-color: #cccccc;
$grey-overlay-color: rgba(0, 0, 0, 0.1);